<!--you need to find a way to autopopulate this or you're boned-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <table>
    <tr>
      <td><%= urls['b2xVn2'] %></td>
      <td>
        <a href= /urls/b2xVn2> edit </a>
      </td>
      <td>      
        <form action="/urls/b2xVn2/delete" method="POST" style="margin:150px;">
        <input type="submit" value="Delete?">
        </form>
      </td>
    </tr>
    <tr>
      <td><%= urls['9sm5xK'] %></td>
      <td>
        <a href= /urls/b2xVn2> edit </a>
      </td> 
      <td>      
        <form action="/urls/9sm5xK/delete" method="POST" style="margin:150px;">
        <input type="submit" value="Delete?">
        </form>
      </td>  
    </tr>
  </table>




    <a href= >Currently a dead link to shorten urls</a>




    <footer>
    <% include ./partials/_footer %>
  </footer>
</body>
</html>