<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <head>
    <% include ./partials/_header %>
  </head>
  <h3>Full URL</h3>
  <p><%= longURL %></p>
  <h3>Short URL</h3>
  <p><%= shortURL %></p>
  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>
</html>